@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url(//db.onlinewebfonts.com/c/05762b520e653b895a823e255f69e78e?family=Barna+Stencil);
@font-face {
    font-family: "CustomFont";
    src: url("../fonts/Barna-Regular.ttf");
    }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  font-family: "CustomFont";
}
::-webkit-scrollbar {
    display: none;
}
:root {
    --text-color: #fff;
    --main-color: #FF4600;
  }
.navMobile{
    display: none;
}
.Home{
    background-image: url(../Assets/background.jpg);
    background-attachment:fill;
    color:var(--text-color);
}
.navMobile.off{
    display: none;
}
.LandingPage{
    padding-top: 28px;
    margin-inline: 10%;
}
.logo{
    width: 14%;
}
.MobileNavbar {
    display: none;
  }
.do{
color: #ff4600;
 font-size: 100px;
}
.MobileNavbar.active {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: -10%;
    padding: 4px;
    background-color: rgba(1, 155, 158, 0.693);
    color:#FF4600;
  }
  .MobileNavbar.active li {
    padding: 4px;
  }
  .MobileNavbar.active a {
    color:white;
    font-weight: 600;
    font-size: 18px;
  }
.TM{
    font-weight: 200;
    font-size: 10px;
    position: absolute;
    top:20px;
    left:20%
}
.head{
    width: 100%;
    display: flex;
}
.head h2{
    text-align: center;
    font-size: 18px;

 
}
.hero{
    position: absolute;
    margin-top:30px;
    left: 45%;
    font-family: "CustomFont";
    font-weight: 900;
}
.hero h2{
    font-size: 20px;
    font-weight: bolder;
}
.search{
    display: flex;
    position: absolute;
    margin-top: 30px;
    right: 10%;
}
.search p{
margin-top: 10px;
}
.icon{
    padding-inline: 10px;
    font-size: 36px;
}
.LandingPage hr{
    width:100%;
    margin-inline: 12px;
    border-top: 1px solid white;
}
.navs{
    margin-left: 17px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 12%;
}
/* .navs{
    display: flex;
    grid-template-columns: auto auto auto auto auto auto;
} */
.navs > div {
    text-align: center;
    font-size: 20\px;
    font-weight: 700;
  }

.dropDown{
    position: absolute;
}
.start{
    margin-right: 75px;
}
.end{
    margin-right: 0;
    margin-left: 75px;
}
.landing{
    margin-top: 60px;
}
.landing div{
padding: 14px;
}
 .landing h3{
   font-style: Bold;
   font-weight: 900;
   font-size: 20px;
 }
.landing h1{
    font-style: Bold;
    font-size: 100px;
    font-family: "CustomFont";
    font-weight:900;
    }
.landing p{
font-weight: 100;
font-size: 20px;
}
.landing button{
    margin: 14px;
    padding-block: 8px;
    padding-inline: 12px;
    border-radius: 12px;
    background-color: #FF4600;
    font-size: 18px;
    color: #fff;
    border: 0;
}
.endLanding{
display: flex;
}
.whatsapp{
    position: absolute;
    right: 10%;
    margin-right: 20px
}
.scroll p{
font-weight: 200;
font-size: 20px;
}
.vl {
    border-left: 1px solid white;
    height: 60px;
    margin-left: 2px;
  }
  .About{
      color:var(--main-color);
      display: flex;
      margin-top: 80px;
  }
  .AboutHeader hr {
    margin-inline: 10%;
    border-top: 1px solid #FF4600;
    margin-right: 10%;
    margin-left: 56%;
  }
  .WhatWedo{
      display: block;
  }
  .AboutHeader{
      display: flex;
  }
  .AboutHeader h1{
    padding-left: 165px;
    font-size: 30px;
    font-weight: 500;
}
.do p{
    font-size: 20px;
}
  .smaller{
      color: black;
  }
.scrollable {
    padding:20px;
    margin-top: 40px;
    white-space:nowrap;
    overflow-x:auto;
    position: absolute;
    width:100%;
    right: 0;
    
    /* display:inline-block; */
    

}
.do{
    width:200px;
    height:300px;
    padding-inline-end: 40px;
    display:inline-block;
    white-space:normal;
    overflow-x: auto;
    font-weight: 300;
}
.services{
    display: flex;
    margin-top: 400px;
    background-image: url(../Assets/Rectangle.png);
    background-attachment:fill;
}
.serviceAll{
    display: flex;
    margin-top: 60px;
    margin-left: 10%;
    padding-inline: 17px;
    height: fit-content;
    width: 90%;
}
.serviceWords{
    color: #fff;
    display: block;
    margin-top: 60px;
    width: 40%;
}

.btn{
    margin: 0px;
    padding: 12px;
    border-radius: 12px;
    background-color: #FF4600;
    color: #fff;
    border: 0; 
    margin-right: 10px;
    font-size: 18px;
}
.sub{
    padding-top: 10px;
}
.sub h1{
    font-size: 25px;
    font-weight: 700;
}
.sub h2{
   font-size: 70px;
   font-weight: 900;
}
.sub span{
    font-size: 16px;
    color:rgba(191, 191, 191, 0.933);
 }

a{
    color: #fff;
}
.sub1{
    padding-top: 150px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 100px;
}
.serviceRight{
    padding:20px;
    margin-top: 40px;
    white-space:nowrap;
    position: absolute;
    width:40%;
    height: 680px;
    right: 0;
    overflow: hidden;
}
.dots{
    position: absolute;
    margin-top: 600px; 
    padding-top: 60px;
    margin-left: 18%;
    color: #ff4600;
     font-size: 36px;
}
.MoreServices{
    margin-left: 10%;
    margin-right: 10%;
}
.MoreServices hr{
 margin-left: 200px;
 margin-top: -20px;
 margin-right: 6%;
 border-top: 1px solid black;
}

.MoreServices h1{
    font-size: 25px;
    font-weight: 900;
}
.swiper-slide{
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    transition: .5s linear;
    overflow: hidden;
}
  .swiper-pagination {
    padding-top: 10px;
    width: 5rem !important;
    height: 5rem !important;
  }
  .swiper-pagination-bullet{
    width: 4rem !important;
    height: 4rem !important;
  }
  .swiper-container .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid var(--main-color) 2px;
    background: transparent;
    opacity: 1;
    overflow: hidden;
  }
.swiper-pagination-bullet-active {
    background-color: var(--main-color) !important;
  
}

.row{
    padding-top: 60px;
}
.row img{
    width: 300px;
    height: 300px;
}
.row p{
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 17px;
}
.Footer{
    background-image: url(../Assets/Rectangle202.png);
    background-attachment:fill;
    display: block;
}
.footer{
    background-image: url(../Assets/image87.png);
    display: flex;
    color: #fff;
}
.footerContainer{
    margin-left: 10%;
    margin-right: 10%;
}
.footer a{
    color: rgb(173, 173, 173);
    font-size: 18px;
    font-weight: 200;
}
.swiper-slide.swiper-slide-1{
    background-image: url('../Assets/Rectangle252.png');margin-inline: 40px; width: 400px; height: 550px;
}
.swiper-slide.swiper-slide-2{
    background-image: url('../Assets/screen2.png');margin-inline: 40px; width: 400px; height: 550px;
}
.swiper-slide.swiper-slide-3{
    background-image: url('../Assets/screen3.png');margin-inline: 40px; width: 400px; height: 550px;
}
.swiper-slide.swiper-slide-4{
    background-image: url('../Assets/screen4.png');margin-inline: 40px; width: 400px; height: 550px;
}
.swiper-slide.swiper-slide-5{
    background-image: url('../Assets/screen5.png');margin-inline: 40px; width: 400px; height: 550px;
}
.footer ul{
margin-top: 40px;
margin-bottom: 40px;
}
footer li{
    padding-bottom:16px;
}
.footerC{
    padding-top:20px; 
    margin-left:10%;
    padding: 24px;
    font-size: 16px;
}
.contacts a{
  margin-left: 32px;
}
.list-unstyled.mb-0 li iconify-icon{
    color: #ff4600;
    position: absolute;
    font-size: 20px;
}
.solutions{
    color: rgb(173, 173, 173); 
}
.solutions p{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 200;
}
.underline{
    text-decoration: underline;
    color: wh;
}
.underline a{
    font-size:20px
}
.solutions p{
    font-size: 20px;
}
.footerContainer h2{
    font-size: 40px;
}
.solutionsInput{
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(225, 225, 225);
    background: #000;
    margin-bottom: 20px;
    font-size: 20px;
    width: 240px;
}
.solutionsInput:focus {
    border-color: rgb(225, 225, 225);
  }
.solutions button {
    margin-bottom: 14px;
    padding: 8px;
    border-radius: 12px;
    width: 140px;
    background-color: #FF4600;
    color: #fff;
    border: 0;
}
.copyright{
    display: flex;
}
.disclaimer{
    position: absolute;
    right: 10%;
}
.disclaimer ul{
    display: flex;
}
.disclaimer li{
   padding-inline: 40px;
   font-weight: 600;
   font-size: 16px;
   margin-top:24px;
}
.footerEnd{
    background-color: #FF4600;
    height: 80px;
}
.navMobile1 iconify-icon{
    color: white;
    font-size: 40px;
}
.onBackground1{
    position: absolute;
    margin-top: 150px;
    font-size: 300px;
    width: 100%;
    height: 300px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.onBackground{
    position: absolute;
    margin-top: 150px;
    font-size: 300px;
    opacity: 0.06;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Making Responsive */
@media (max-width: 1425px) {
    .end{
      
        margin-left: 0px;
    }
    .navs{
        gap: 10%;
    }
    .navs > div {
        text-align: center;
        font-size: 18\px;
      }
}

@media (max-width: 1299px) {
    .end{
        margin-right: -100;
        margin-left: 0px;
    }
    .navs > div {
        text-align: center;
        font-size: 12\px;
      }
      .dots{
          font-size: 24px;
      }
  }
  @media (max-width: 1123px) {
    .hero{
        left:38%
    }
    
  }
  @media (max-width: 1123px) {
    .hero{
        left:38%
    }
    .disclaimer li{
        padding-inline: 10px;
        font-weight: 600;
        margin-top:25px;
     }
     .disclaimer{
        position: absolute;
        right: 30px;
    }
    
  }
  @media (max-width:  1014px) {
    .navs{
        margin-left: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10.2%;
    }
    
  }
  @media (max-width:  910px) {
    .hero{
        left: 30%;
    }
    
  }
@media (max-width:  857px) {
    .LandingPage hr{
        margin-top: 40px;
    }
  }

@media (max-width:  768px) {
    .swiper-pagination {
        padding-top: -100px;
        margin-top: -100px;
        width: 5rem !important;
        height: 5rem !important;
      }
      .AboutHeader{
        display: block;
        margin-left: 20%;
       width: 100%;
    }
    .AboutHeader hr {
        margin-inline: 10%;
        border-top: 1px solid #FF4600;
        margin-right: 40%;
        margin-left: 10%;
      }
      .serviceAll{
        height: 800px;
    }
    .MoreServices{
        margin-inline: 4%;
        padding-inline: 8px;
    }
    .landing h1{
        font-size: 50px;
        }
     .landing p{
        font-weight: 100;
        font-size: 18px;
         }
     .AboutHeader h1{
            padding-left: 10%;
            font-size: 20px;
            font-weight: 500;
    }
    .smaller{
        font-size: 14px;
    }
    .sub h2{
        font-size: 20px;
     }
     .sub1{
        font-size: 12px;
    }
    
.btn{
    margin: 0px;
    padding: 6px;
    border-radius: 12px;
    background-color: #FF4600;
    color: #fff;
    border: 0; 
    margin-right: 10px;
}
.dots{
    margin-top: 570px;
}
.sub span {
font-size: 12px;
}
.MoreServices h1{
    font-size: 20px;
}
.MoreServices p{
    font-size: 16px;
}
  }
  @media (max-width:  725px) {
    .disclaimer{
        display: none;
    }

.footerC {
    padding-top:20px; 
    position: relative;
    margin-left:20%;
    padding: 24px;
    text-align: center;
}
.disclaimer{
    position: relative;
}
.sub span {
    font-size: 16px;
    }
  }
  @media (max-width:  700px) {
    .navs{
        margin-left: 6px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 8%;
    }
    .do p{
        font-size: 12px;
    }
  }
  @media (max-width:  690px) {
    .hero{
        left: 25%;
    }
  }
  @media (max-width:  640px) {
    .hero h2{
        left: 24%;
        font-size: 14px;
    }
.search p{
    font-size: 10px;
}
.icon{
    font-size: 14px;
    margin-top: 6px;
}
.footerC {
    margin-left:18%;
}
  }
  @media (max-width:  569px) {
    .MoreServices{
        margin-left: 1%;
        margin-right: 2%;
    }
    .MoreServices hr{
     margin-left: 120px;
     margin-top: -20px;
     margin-right: 6%;
     border-top: 1px solid black;
    }
    .AboutHeader hr {
        margin-inline: 10%;
        border-top: 1px solid #FF4600;
        margin-right: 60%;
        margin-left: 0%;
      }
      .serviceAll{
        margin-left: 2%;
    }
      .About{
    margin-left: -40px;  
    }
    .do p{
   font-size: 16px;
    }
      .AboutHeader h1{
        padding-left: 0px;
        font-size: large;
    }
    .LandingPage{
        margin-inline: 2%;
    }
    .LandingPage hr{
        margin-inline: 0px;
    }
    .title h1{
        font-size: 20px;
    }
   .navs{
       display: none;
   }
   .serviceAll{
    height: fit-content;
}
   .search{
    display: flex;
    position: absolute;
    margin-top: 0px;
    right: 8%;
}
.hero{
    position: absolute;
    margin-top:50px;
}
.LandingPage hr{
    width:100%;
    margin-inline: 0px;
    margin-top: 70px;
    border-top: 1px solid white;
}
.navMobile{
    display: flex;
    position: absolute;
    margin-top: -70px;
    color: white;
    font-weight: 900;
    font-size: 48px;
    right: 8%;
}
.footerContainer{
    margin-left: 2%;
    margin-right: 2%;
}
.navMobile1{
    display: flex;
    position: absolute;
    margin-top: -70px;
    color: white;
    font-weight: 900;
    font-size: 48px;
    right: 8%;
}
.serviceAll{
    display: block;
}
.dots{
    position: relative;
    margin-top: 10px; 
     font-size: 24px;
     margin-left: 60px;
}
.serviceRight {
width:110%;
position: relative;
  }
  .do1{
    width:100%;
    height:550px;
    display:inline-block;
    white-space:normal;
    overflow-x: auto;
    font-weight: 300;
}
.do1 img{
    height: 550px;
    width: 80%;
}
.onBackground{
    display: none;
}
.serviceWords{
    color: #fff;
    display: block;
    margin-top: 60px;
    width: 80%;
    margin-right: 5%;
    font-size: small;
}

.sub1{
    padding-top: 50px;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
}
.footerC {
    margin-left:15%;
}
.swiper-slide.swiper-slide-1{
    height: 400px;
    margin-inline: 12px;
}
.swiper-slide.swiper-slide-2{
    height: 400px;
    margin-inline: 12px;
}
.swiper-slide.swiper-slide-3{
    height: 400px;
    margin-inline: 12px;
}
.swiper-slide.swiper-slide-4{
    height: 400px;
    margin-inline: 12px;
}
.swiper-slide.swiper-slide-5{
    height: 400px;
    margin-inline: 12px;
}
  .swiper-pagination {
    padding-bottom: 140px !important;
    width: 5rem !important;
    height: 5rem !important;
  }
  .swiper-pagination-bullet{
    width: 4rem !important;
    height: 4rem !important;
  }
.swiper {
    margin-inline: 2px;
}
  }
  @media (max-width:  565px) {
    .footerC {
        margin-left:13%;
    }
}
@media (max-width:  371px) {
    .AboutHeader h1{
        font-size: 10px;
    }
    .title h1{
        font-size: 14px;
    }
    .sub span {
        font-size: 8px;
        }
}